berserk==0.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
chess==1.8.0
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
Deprecated==1.2.13
gTTS==2.2.3
idna==3.3
imageio==2.13.5
listify==2020.12.3
mac-say==2020.12.3
MouseInfo==0.1.3
mss==6.1.0
ndjson==0.3.1
networkx==2.6.3
numpy==1.22.0
opencv-python==4.5.5.62
packaging==21.3
Pillow==9.0.0
psutil==5.9.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
pygrabber==0.1
PyMsgBox==1.0.9
pyparsing==3.0.6
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.28
python-chess==1.999
pyttsx3==2.90
pytweening==1.0.4
PyWavelets==1.2.0
pywin32==303
requests==2.27.0
runcmd==2020.12.3
scikit-image==0.19.1
scipy==1.7.3
six==1.16.0
tifffile==2021.11.2
urllib3==1.26.7
values==2020.12.3
wrapt==1.13.3
